@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Date personale";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="row">
    <div class="col-md-6">
        <p>De pe aceasta pagina iti poti inchide contul.</p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Sterge contul</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
