@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <section>
            <form id="account" method="post">
                <h2>Log in</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="email@test.ro" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="parola" />
                    <label asp-for="Input.Password" class="form-label">Parola</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="btn-group btn-group mx-auto" role="group">
                    <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                    <a class="btn btn-secondary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Nu ai cont? Creeaza unul!</a>
                </div>
            </form>
        </section>
        
    </div>
  </div>
