@page
@model ErrorModel
@{
    ViewData["Title"] = "Eroare";
}

<h1 class="text-danger">A aparut o eroare.</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID cerere: </strong> <code>@Model.RequestId</code>
    </p>
}