@page
@model proiect.Pages.Admin.Produse.CreateModel
@{
    ViewData["Title"] = "Creare produs";
}

<div class="container">
    <h2 class="text-center mb-5">Produs Nou</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Brand</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="ProdusDto.Brand">
                <span asp-validation-for="ProdusDto.Brand" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Model</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="ProdusDto.Model">
                <span asp-validation-for="ProdusDto.Model" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Descriere</label>
            <div class="col-sm-8">
                <textarea class="form-control" asp-for="ProdusDto.Descriere"></textarea>
                <span asp-validation-for="ProdusDto.Descriere" class="text-danger"></span>
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Culoare</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="ProdusDto.Culoare">
                <span asp-validation-for="ProdusDto.Culoare" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Nume imagine</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="ProdusDto.ImageName">
                <span asp-validation-for="ProdusDto.ImageName" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Pret</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="ProdusDto.Pret">
                <span asp-validation-for="ProdusDto.Pret" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Memorie</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="ProdusDto.Memorie">
                <span asp-validation-for="ProdusDto.Memorie" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Dimensiune</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="ProdusDto.Dimensiune">
                <span asp-validation-for="ProdusDto.Dimensiune" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Stoc</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="ProdusDto.Stoc">
                <span asp-validation-for="ProdusDto.Stoc" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Categorie</label>
            <div class="col-sm-8">
                <select class="form-select" asp-for="ProdusDto.CategorieId" asp-items="@Model.Categorii"></select>
                <span asp-validation-for="ProdusDto.CategorieId" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Salveaza</button>
                <a class="btn btn-danger" href="/Admin/Produse/Index" role="button">Anuleaza</a>
            </div>
        </div>
    </form>
</div>
